html,
body,
.wrapper{ 
    height: 50%;
    margin: 0;
    padding: 0;
}

body{
    font-family: cursive;
    background-color: cadetblue;
    text-align: center;
}

.wrapper{
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

header{
    display: -webkit-inline-flex;
    text-align: center;
    padding: 0px;
    padding-top: 0px;
    color:honeydew;
    font-size: 1.5em;
    font-weight: bold;
}

.card{
    display:flexbox;
    background-color:mintcream;
    align-self: auto;
    border-radius: 1px;
    border-width: 1px;
    box-shadow: oldlace;
    color:rgb(158, 118, 118);
    font-size: 2em;
    text-align: center;
    font-style: bold;
    margin: auto;
    max-width: 450px;
    padding: 25px 25px;
}
/* line */
.card-header::after{
    content: "";
    display:-webkit-inline-flexbox;
    width: 100%;
    background-color: lavender;
    height: 0px;
}

.card-body{
    align-self: auto;
    min-height: 10px;
    min-width: 10px;
    
}

.card-footer{
    text-align: center;
}

.card-footer::before{
    content: "";
    display:-webkit-inline-flexbox;
    width: 100%;
    background-color: lavender;
    height: 0px;
}

.card-header::after{
    content: "";
    display: -webkit-inline-flexbox;
    clear: both ;
}
.btn{
    border: none;
    background-color:wheat;
    border-radius: 25px;
    box-shadow: lavenderblush;
    color: rosybrown;
    display: -webkit-inline-flex;
    font-size: 40px;
    font-weight: bolder;
    line-height: 25px;
    margin: 20px 20px 20px 24px;
    padding: 30px 50px;
    text-align: center;
    cursor: pointer;
}
/* disabled? */
button[disabled]{
    cursor: default;
    color: #000;
}

/* floating what right? */
.float-right{
    float: center;
}

/* appearance mox and webkit? */
#password{
    -webkit-appearance:inherit;
    -moz-appearance: inherit;
    appearance: none;
    display:-webkit-inline-flex;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 6px double slategray;
    align-content: center;
    border-radius: 4px;
    resize: auto;
}

@media (max-width: 700px){
    .btn{
        font-size: x-large;
        margin: 15px 0px 0px 0px;
        padding: auto;
    }
    #password{
        font-size: small;
    }
}

@media (max-width: 500px) {
    .btn{
        font-size: large;
    }
}  